.message-input-container {
    width: calc(100% - 4rem);
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translate(-50%, -50%);


    display: flex;
    align-items: center;
    gap: 1rem;

    input {
        width: 100%;

        padding: 0.9rem 1rem 0.9rem 1.25rem;
        border-radius: 2rem;
        background-color: var(--grey-7);
        border: 2px solid var(--black);

        font-size: 1.05rem;
    }

    .send-button {
        border-radius: 50%;
        padding: 0.75rem;
        line-height: 0;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--green-1);

        .MuiSvgIcon-root {
            color: var(--white);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--green-2);
        }
    }
}
