.chat-screen-container {
    width: 70vw;
    height: 65vh;

    padding: 2rem;
    border: 2px solid var(--black);
    border-radius: 1.5rem;

    position: absolute;
    top: 10%;
    left: unset;

    &.active {
        left: calc(-70vw - 2px);
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .message-list {
        width: 100%;
        height: 80%;
        overflow-y: scroll;

        display: flex;
        flex-direction: column-reverse;
        gap: 1.25rem;
    }
}
