.chat-screen-container {
    transition: all 0.8s ease-in;
}

.chat-screen-container.active {
    top: 8%;

    @media screen and (max-width: 426px) {
        top: 0;
    }
}

.message-list::-webkit-scrollbar {
    display: none;
}
