@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --white: #FFF;
    --grey: #6B728E;
    --grey-1: #121212;
    --grey-2: #232323;
    --grey-3: #454545;
    --grey-4: #676767;
    --grey-5: #ABABAB;
    --grey-6: #CDCDCD;
    --grey-7: #EEE;
    --grey-8: #343434;
    --black: #000;
    --grey-9: #889;
    --grey-dull: #F8F8F8;

    --blue: #337CCF;
    --light: #F1F0E8;
    --dark: #181818;
    --green-1: #1da44c;
    --green-2: #128038;
    --green-3: #caf2d7;
    --green-4: #239a7c;
    --red: #ce1225;

    --orange: #c65813;

    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --dark-blue: #405DE6;
    --github: #4078c0;
    --linkedin: #0077b5;

    ---open-sans: 'Open Sans', sans-serif;

    --roboto-serif: 'Roboto Serif', serif;
}

body::-webkit-scrollbar {
    display: none;
}
